.char-list {
  width: 100%;
}

.page-header {
  background-color: #dcdcdc;
}

.char-portrait {
  display: block;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.portrait-label {
  text-align: center;
}
