.char-list {
  width: 100%;
}

body {
  /*	background-color: #dcdcdc !important;
*/
}

.page-header {
  background-color: grey;
}

.char-portrait {
  border-radius: 100px;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.portrait-label {
  text-align: center;
  padding-top: 30px;
}

.child-img {
  padding-bottom: 30px;
  padding-right: 75px;
}

.father,
.child-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.father-select {
  padding-top: 20px;
  width: 90%;
}
